In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
# import data
all_seasons = pd.read_csv('all_seasons.csv')
all_seasons.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,42,64,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,34,4,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,12,41,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,7,64,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,22,52,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97

In [3]:
# change the season column location to front of player_name
all_seasons = all_seasons[['season', 'player_name'] + [col for col in all_seasons.columns if col not in ['season', 'player_name']]]
# drop Unnamed: 0
all_seasons = all_seasons.drop(columns=['Unnamed: 0'])
all_seasons.head()

,season,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct
0,1996-97,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,42,64,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248
1,1996-97,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,34,4,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043
2,1996-97,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,12,41,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125
3,1996-97,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,7,64,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125
4,1996-97,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,22,52,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064

In [4]:
# new column for filter the season
all_seasons['season_filter'] = all_seasons['season'].str[:4]
# only keep the season after 2004
all_seasons = all_seasons[all_seasons['season_filter'] > '2004']

In [5]:
# sort by player_name and season
all_seasons = all_seasons.sort_values(by=['player_name', 'season'], ascending=[True, True])
# reset index
all_seasons = all_seasons.reset_index(drop=True)
all_seasons.head(10)

,season,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season_filter
0,2022-23,A.J. Lawson,DAL,22.0,198.12,81.192968,South Carolina,Canada,Undrafted,Undrafted,Undrafted,15,3.7,1.4,0.1,-20.1,0.046,0.152,0.189,0.589,0.032,2022
1,2022-23,AJ Green,MIL,23.0,195.58,86.182480,Northern Iowa,USA,Undrafted,Undrafted,Undrafted,35,4.4,1.3,0.6,-4.9,0.016,0.105,0.159,0.607,0.092,2022
2,2022-23,AJ Griffin,ATL,19.0,198.12,99.790240,Duke,USA,2022,1,16,72,8.9,2.1,1.0,1.5,0.026,0.080,0.174,0.577,0.070,2022
3,2016-17,AJ Hammons,DAL,24.0,213.36,117.933920,Purdue,USA,2016,2,46,22,2.2,1.6,0.2,-0.6,0.049,0.199,0.167,0.472,0.038,2016
4,2009-10,AJ Price,IND,23.0,187.96,82.100152,Connecticut,USA,2009,2,52,56,7.3,1.6,1.9,1.4,0.015,0.098,0.225,0.530,0.198,2009
5,2010-11,AJ Price,IND,24.0,187.96,82.100152,Connecticut,USA,2009,2,52,50,6.5,1.4,2.2,1.6,0.022,0.083,0.227,0.454,0.233,2010
6,2011-12,AJ Price,IND,25.0,187.96,83.914520,Connecticut,USA,2009,2,52,44,3.9,1.4,2.0,0.5,0.024,0.104,0.175,0.454,0.264,2011
7,2012-13,AJ Price,WAS,26.0,187.96,83.914520,Connecticut,USA,2009,2,52,57,7.7,2.0,3.6,-2.3,0.017,0.083,0.181,0.501,0.273,2012
8,2013-14,AJ Price,MIN,27.0,187.96,88.450440,Connecticut,USA,2009,2,52,28,1.6,0.4,0.5,-2.4,0.009,0.081,0.230,0.469,0.271,2013
9,2014-15,AJ Price,CLE,28.0,187.96,88.450440,Connecticut,USA,2009,2,52,26,5.1,1.2,1.8,-12.2,0.019,0.096,0.226,0.451,0.254,2014

In [6]:
# only keep season, season_filter,player_name, team_abbreviation, age, player_height, player_weight, college, country, draft_year
all_seasons = all_seasons[['season', 'season_filter', 'player_name', 'team_abbreviation', 'age', 'player_height', 'player_weight', 'college', 'country', 'draft_year']]
all_seasons.head()

,season,season_filter,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year
0,2022-23,2022,A.J. Lawson,DAL,22.0,198.12,81.192968,South Carolina,Canada,Undrafted
1,2022-23,2022,AJ Green,MIL,23.0,195.58,86.182480,Northern Iowa,USA,Undrafted
2,2022-23,2022,AJ Griffin,ATL,19.0,198.12,99.790240,Duke,USA,2022
3,2016-17,2016,AJ Hammons,DAL,24.0,213.36,117.933920,Purdue,USA,2016
4,2009-10,2009,AJ Price,IND,23.0,187.96,82.100152,Connecticut,USA,2009

In [7]:
# split to 3nf
# player
player = all_seasons[['player_name', 'college', 'country', 'draft_year']]
player = player.drop_duplicates()
player = player.reset_index(drop=True)
player.head(10)

      player_name         college country draft_year
0     A.J. Lawson  South Carolina  Canada  Undrafted
1        AJ Green   Northern Iowa     USA  Undrafted
2      AJ Griffin            Duke     USA       2022
3      AJ Hammons          Purdue     USA       2016
4        AJ Price     Connecticut     USA       2009
5    Aaron Brooks          Oregon     USA       2007
6    Aaron Gordon         Arizona     USA       2014
7      Aaron Gray      Pittsburgh     USA       2007
8  Aaron Harrison        Kentucky     USA  Undrafted
9     Aaron Henry  Michigan State     USA  Undrafted

In [10]:
# seasons info
# Season Stats Table (SeasonStats): This table would store season, player_name, team_abbreviation, age, height, and weight. The player_name would act as a foreign key to link back to the Player table.
season = all_seasons[['season', 'player_name', 'team_abbreviation', 'age', 'player_height', 'player_weight']]
# set the age to integer
season['age'] = season['age'].astype(int)
season = season.drop_duplicates()
# drop the same name
season = season.drop_duplicates(subset=['season', 'player_name'], keep='first')
# reset index
season = season.reset_index(drop=True)
season.head(10)

/var/folders/x_/bb2nz73s57lgtm2ydkqrk9qw0000gn/T/ipykernel_47971/3306848969.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season['age'] = season['age'].astype(int)

    season  player_name team_abbreviation  age  player_height  player_weight
0  2022-23  A.J. Lawson               DAL   22         198.12      81.192968
1  2022-23     AJ Green               MIL   23         195.58      86.182480
2  2022-23   AJ Griffin               ATL   19         198.12      99.790240
3  2016-17   AJ Hammons               DAL   24         213.36     117.933920
4  2009-10     AJ Price               IND   23         187.96      82.100152
5  2010-11     AJ Price               IND   24         187.96      82.100152
6  2011-12     AJ Price               IND   25         187.96      83.914520
7  2012-13     AJ Price               WAS   26         187.96      83.914520
8  2013-14     AJ Price               MIN   27         187.96      88.450440
9  2014-15     AJ Price               CLE   28         187.96      88.450440

In [11]:
# output to csv
player.to_csv('player.csv', index=False)
season.to_csv('season.csv', index=False)