In [7]:
import pandas as pd
pd.set_option('display.max_columns', None)
import sqlite3

In [8]:
# preprocessing/NBA-Boxscore-Database.sqlite
conn = sqlite3.connect('NBA-Boxscore-Database.sqlite')
c = conn.cursor()

# check the table name
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())

[('game_info',), ('player_stats',), ('team_stats',)]

In [9]:
# check the player_stats
c.execute("SELECT * FROM player_stats")
player_stats = pd.DataFrame(c.fetchall())
player_stats.columns = [x[0] for x in c.description]
player_stats.head()

,game_id,player,team,MP,FG,FGA,FGp,3P,3PA,3Pp,FT,FTA,FTp,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PM,TSp,eFGp,3PAr,FTr,ORBp,DRBp,TRBp,ASTp,STLp,BLKp,TOVp,USGp,ORtg,DRtg,BPM,PIE
0,131410290001,Arron Afflalo,ORL,32:59,3.0,14.0,0.214,1.0,5.0,0.200,2.0,3.0,0.667,1.0,2.0,3.0,1.0,0.0,0.0,1.0,1.0,9.0,-14.0,0.294,0.250,0.357,0.214,3.1,8.1,5.3,4.6,0.0,0.0,6.1,20.8,69.0,111.0,-9.9,-1.1
1,131410290001,Nikola Vučević,ORL,30:39,4.0,11.0,0.364,0.0,0.0,NaN,0.0,0.0,NaN,5.0,5.0,10.0,3.0,2.0,1.0,5.0,4.0,8.0,-22.0,0.364,0.364,0.000,0.000,16.7,21.8,18.9,15.8,3.3,2.9,31.3,21.9,70.0,98.0,-5.4,3.8
2,131410290001,Jameer Nelson,ORL,30:34,4.0,13.0,0.308,3.0,7.0,0.429,1.0,1.0,1.000,1.0,4.0,5.0,7.0,2.0,0.0,2.0,1.0,12.0,-11.0,0.446,0.423,0.538,0.077,3.3,17.4,9.5,37.0,3.3,0.0,13.0,21.2,102.0,101.0,5.9,10.3
3,131410290001,Jason Maxiell,ORL,26:19,0.0,5.0,0.000,0.0,0.0,NaN,0.0,0.0,NaN,1.0,4.0,5.0,0.0,1.0,2.0,2.0,2.0,0.0,-15.0,0.000,0.000,0.000,0.000,3.9,20.3,11.0,0.0,1.9,6.8,28.6,11.2,8.0,99.0,-10.6,-1.9
4,131410290001,Maurice Harkless,ORL,23:30,6.0,13.0,0.462,2.0,2.0,1.000,0.0,1.0,0.000,1.0,0.0,1.0,0.0,1.0,0.0,0.0,4.0,14.0,-3.0,0.521,0.538,0.154,0.077,4.3,0.0,2.5,0.0,2.2,0.0,0.0,24.0,111.0,107.0,2.4,2.7

In [11]:
# check the game_info
c.execute("SELECT * FROM game_info")
game_info = pd.DataFrame(c.fetchall())
game_info.columns = [x[0] for x in c.description]
game_info.head()

,game_id,season,date,away_team,away_score,home_team,home_score,result
0,131410290001,1314,2013-10-29,ORL,87,IND,97,1
1,131410290002,1314,2013-10-29,CHI,95,MIA,107,1
2,131410290003,1314,2013-10-29,LAC,103,LAL,116,1
3,131410300004,1314,2013-10-30,BRK,94,CLE,98,1
4,131410300005,1314,2013-10-30,BOS,87,TOR,93,1

In [14]:
player_stats = player_stats[["game_id", "player", "team", "FG", "FGA", "3P", "3PA", "FT", "FTA", "ORB", "DRB", "AST", "STL", "BLK", "PTS"]]
player_stats.head()

,game_id,player,team,FG,FGA,3P,3PA,FT,FTA,ORB,DRB,AST,STL,BLK,PTS
0,131410290001,Arron Afflalo,ORL,3.0,14.0,1.0,5.0,2.0,3.0,1.0,2.0,1.0,0.0,0.0,9.0
1,131410290001,Nikola Vučević,ORL,4.0,11.0,0.0,0.0,0.0,0.0,5.0,5.0,3.0,2.0,1.0,8.0
2,131410290001,Jameer Nelson,ORL,4.0,13.0,3.0,7.0,1.0,1.0,1.0,4.0,7.0,2.0,0.0,12.0
3,131410290001,Jason Maxiell,ORL,0.0,5.0,0.0,0.0,0.0,0.0,1.0,4.0,0.0,1.0,2.0,0.0
4,131410290001,Maurice Harkless,ORL,6.0,13.0,2.0,2.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,14.0

In [17]:
#export player_stats to csv
player_stats.to_csv("/Users/alicewang/Desktop/player_stats.csv", index=False)

In [18]:
game_info.to_csv("/Users/alicewang/Desktop/game_info.csv", index=False)